.legend {
	line-height: 18px;
	color: #555;
	border:solid;
	border-width: 1px;
	background-color: #fff;
	padding: 5px; 
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.9;
}